@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Poppins:wght@400;600&display=swap');

svg {
    fill: var(--prime-garbage);
}

:root {
    --prime-white: #FFFFFF;
    --prime-black: #000000;
    --prime-background: #FFFFFF;
    --prime-placeholder: #87919E;
    --prime-input: #F2F2F2;
    --prime-font: rgba(28, 48, 74, 0.5);
    --prime-hover-btn: #254672;
    --prime-theme: #1676F3;
    --prime-border: #323232;
}

.dark__theme {
    --prime-white: #FFFFFF;
    --prime-black: #000000;
    --prime-background: #1E1F25;
    --prime-placeholder: #87919E;
    --prime-input: #F2F2F2;
    --prime-button: #1676F3;
    --prime-font: #DADADA;
    --prime-hover-btn: #7cabe9;
    --prime-theme: #87919E;
    --prime-border: #87919E;
}